import random

usr = input()
iteams = "rock","paper","siccors"
com = random.choice(iteams)

def invalid():
    if usr not in iteams:
        print("Game failed!")
        exit()

def won():
    if usr == 'paper' and com == 'rock':
        print("You won!")
    elif usr == 'siccors' and com == 'paper':
        print("You won!")
    elif usr == 'rock' and com == 'siccors':
        print("You won1")
def lost():
    if usr == 'rock' and com == 'paper':
        print("You lost!")
    elif usr == 'paper' and com == 'siccors':
        print("You lost")
    elif usr == 'siccors' and com == 'rock':
        print("You lost!")
def tie():
    if usr == 'rock' and com == 'rock':
        print("Tie")
    elif usr == 'paper' and com == 'paper':
        print("Tie")
    elif usr == 'siccors' and com == 'siccors':
        print("Tie")
invalid()
print(com)
won()
lost()
tie()
